---
---

/*
*******
None of these variable are being imported anywhere, they're just here for your convenience.
*******
*/

// Breakpoints. Use these in your media queries.
$babybear: 321px;
$mamabear: 769px;
$papabear: 1140px;
$monsterbear: 1300px;

// Some Style Variables
$primary-blue: #2F68B2;
$hyperlink-blue: #5E9FF4;
$secondary-blue: #8FDFEF;//#87EDFF;
$white: #FFFFFF;
$background-gray: #404040;
$text-gray: #1F1F1F;
$black: #000000;

$max-width: 960px;

$header-font-family: georgia, serif;
$header-font-style: normal;
$header-font-weight: 400;
$header-font-size: 10vmin;

$secondary-header-font-size: 4rem;
$tertiary-header-font-size: 26px;
$body-font-size: 1.75rem;//sofia 2rem;
$small-font-size: 1.5rem;

$body-font-family: "Open Sans";
$body-font-weight: normal;

::selection {
    //background: $secondary-blue
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: $header-font-family;
    font-style: $header-font-style;
    font-weight: $header-font-weight;
    overflow-x: hidden;
}

#headline {
    margin-top: 12rem;
}

#headline>h1 {
    font-weight: 700;
    text-align: left;
}

h1 {
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    text-align: center;
    margin-bottom: 3.5rem;
}

h2 {
    font-family: $body-font-family;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3.5rem;
}

h4 {
    text-transform: uppercase;
    font-family: $body-font-family;
    color: $text-gray;
    margin: 0;
    font-size: 1.25rem;
}

p {
    font-family: $body-font-family;
    font-weight: $body-font-weight;
}

a {
    color: $hyperlink-blue;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: $hyperlink-blue;
}

.portfolio-header {
    margin-top: 5rem;
}

.section-header {
    height: 1rem;
    border-bottom: 1px solid;
    text-align: center;
}

.section-header>img {
    height: 2rem;
    width:auto;
    background-color: $white;
}

.nav>li>a, .nav>li>ul>li>a {
    color: $text-gray;
    padding: 0;
    font-family: $body-font-family;
    font-weight: normal;
}

.nav>li>ul>li {
    padding-left: 1em;
}

.nav>li>a:hover, .nav>li>a:focus, .nav>li>ul>li>a:hover, .nav>li>ul>li>a:focus {
    color: $primary-blue !important;
    background: $white !important;
    text-decoration: underline;
    //text-decoration: none;
    //border-right: .005rem solid $black;
}

.bottom-nav>ul>li>a {
    padding-left: 0px;
    padding-right: 0px;
}

#contact-details {
    margin-top: 4rem;
}

.full-page {
    height: 100vh;
    width: 100vw;
    background-color: $white;
    //padding: none;
    //margin: none;
}

#cover-page {
    //background-color: $background-gray;
    background-image: url(../img/cover-image.JPG);
    background-size: cover;
    background-position: center center;
    color: $white;
    bottom: 100px;
}

#bottom-scroll {
    width: 100vw;
    position: absolute;
    margin: auto;
    bottom: 0;
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    padding: 1.5vh;
    min-height: 8rem;
    cursor: pointer;
}

.scroll-down-text {
    //padding-top: 1rem;
    font-size: 2rem;
}


.down-arrow {
    border: solid $white;
    border-width: 0 0.25rem 0.25rem 0;
    display: inline-block;
    padding: 1.5rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.title-group {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    width: 100vw;
    height: 40vh;//25rem;
    text-align: left;
    padding-left: 35px;
}

.rect-xl {
    min-height: 3rem;
    max-height: 40rem;
    width: 80vw;
    //height: 30vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
    
    background: $background-gray;
    
    border: 1rem solid;
    border-color: $primary-blue;
    
    //position: absolute;
    //margin: auto;
    //top: 0;
    //bottom: 0;
    //right: 0;
    //left: 0;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    margin: 0 auto;
}


.title-group h1 {    
    font-weight: 700;
    position: relative;
    margin: 0 auto;
}

.sub-title-text {
    margin-top: 4rem;
    font-family: $body-font-family;
    font-weight: 300;
    width: 75vw;
}

.bottom-nav {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 1vh;
    
    font-size: 4vh;
}

.bottom-nav ul {
    padding: 0;
    text-align: center;
}

.bottom-nav li {
    display: inline-block;
}

.circle-xs {
    width: 0.5em;
    height: 0.5em;
    max-width: 10vmin;
    max-height: 10vmin;
    background: $primary-blue;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	border-radius: 0.25em;
    
    margin-left: 1vw;
    margin-right: 1vw;
    
}

.logo {
    width: 3.5rem;
    height: 3.5rem;
    background: $primary-blue;
	-moz-border-radius: 2.5em;
	-webkit-border-radius: 2.5em;
	border-radius: 2.5em;
    margin-bottom: 1rem;
    background-image: url("../img/Favicon.png");
    background-size: contain;
}

.logo:hover {
    cursor:pointer;
}

.circle {
    width: 10rem;
    height: 10rem;
    background: $primary-blue;
	-moz-border-radius: 5rem;
	-webkit-border-radius: 5rem;
	border-radius: 5rem;
    
    background-size: cover;
    background-position: center center;
    
    display: inline-block;
    vertical-align: top;
    
}

#carnegie-mellon > .circle {
    background-image: url("../img/carnegie-mellon-gates.JPG");
}

#lafayette-college > .circle {
    background-image: url("../img/lafayette-college-acopian.jpg");
}

#lutron-electronics > .circle {
    background-image: url("../img/lutron.jpg");
}

#jpmorgan-chase > .circle {
    background-image: url("../img/jpmorgan-chase.JPG");
}

#compass > .circle {
    background-image: url("../img/compass.JPG");
}

.sub-circle-text {
    text-align: left;
    //display: inline-block;
    vertical-align: top;
    margin-left: 1rem;
}

.sub-circle-text > h5 {
    font-family: $body-font-family;
    color: $primary-blue;
    font-weight: 700;
    text-align: left;
    font-size: 2rem;
    margin: 0rem;
}

.sub-circle-text > span {
    font-family: $body-font-family;
    text-align: left;
    font-size: 1.25rem;
    font-style: italic;
}

.sub-circle-text > p {
    font-size: $body-font-size;
    text-align: left;
    line-height: 2rem;
    margin-top: .75rem;
}

.timeline {
    text-align: left;
}

.timeline > dl > dt {
    width: 10rem;
    float: left;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.timeline > dl > dd {
    margin-left: 12rem;
}

#main-nav {
    z-index: 2;
    padding-top: 5rem;
    //padding-left: 1%;
    //padding-right: 1%;
    overflow: scroll;
}

#bottom-scroll {
    height: 13.5vh;
    font-family: $body-font-family;
}

//tiny screen
@media screen and (max-width:767px), screen and (max-height:767px) {
    .title-group h1 {
        font-size: 4rem;
    }
    
    .sub-title-text {
        font-size: 2rem;
    }
    
    .scroll-down-text {
        font-size: 1.5rem;
    }
}

//collapsed navbar
@media screen and (max-width: 767px){
    #main-nav {
        background: $primary-blue;

        font-size: $secondary-header-font-size;
        color: $white;

        padding: 0;
        margin: 0;
        margin-bottom: 10px;


    }
    
    
    #particles-js {
        height: 100vh;
    }
    
    .portfolio-card {
        //margin: 0 auto;
    }
    
    #navbar-main-contents {
        background-color: $white;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    #main-nav {
        //box-shadow: 0px 5px 20px grey;
    }
    
    #main-nav ul {
        font-size: 2rem;
    }
    
}

//expanded navbar
@media screen and (min-width: 768px){
    
    #navigation-section {
        margin-top: 6rem;
    }
    
    #main-nav {
        background: $white;
        height: 100vh;

        font-size: 2rem;//$secondary-header-font-size;
        color: $text-gray;

        //padding: 0;
        margin: 0;
        
        border-right: .005rem solid $black;


    }
    
    #bottom-scroll {
        min-height: 10rem;
        //background: $primary-blue;
    }
    
    #particles-js {
        height: 90vh;
    }
    
    .rect-xl {
        max-width: 80vmin;
    }
    
    .title-group h1 {
        font-size: 6rem;
    }
    
    .sub-title-text {
        font-size: 2.5rem;
    }
    
    .portfolio-card {
        margin-right: 2.5rem;
        display: inline-block;
    }
    
    .key-location {
        //display: inline-block;
        text-align: left;
    }
}

#main-nav ul {
    padding: 0;
    list-style: none;
}

/*#navbar-main-contents>ul>li {
    border-left: 20px;
    border-left-style: solid;
    border-left-color: $white;
}
*/
.nav>li.active>a, #back { //:not(:first-child)
    font-weight: bold;
    color: $primary-blue;
}

#back {
    font-family: $body-font-family;
}

#main-content {
    position: relative;
}

#projects {
    padding-top:5rem;
}

#about {
    margin-top: 10px;
    text-align: center;
}

#about-me-image {
    object-fit: cover;
    width: 50vmin;
    height: 50vmin;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
    margin-top: 5vh;
    margin-bottom: 3vh;
    
}

.portfolio-img {
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*h2 {
    color: $primary-blue;
    font-size: $secondary-header-font-size;
    font-weight: 700;//500;
    text-align: left;
    margin-bottom: 3rem;
}*/

.about-section {
    font-family: $body-font-family;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-align: left;
}

p, #project-list, .proj-summary-content, ol, .contact-info, .portfolio-body-list {
    font-family: $body-font-family, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: $body-font-size;
    text-align: left;
    //letter-spacing: 0.025em;
    line-height: 2.5rem;
    margin-bottom: 2.75rem;
}

.proj-summary-section{
    font-size: $body-font-size;
    font-family: $body-font-family;
}

#portfolio-content > h2 {
    margin-top: 6rem;
    margin-bottom: 3rem;
}

h3 {
    /*font-size: $tertiary-header-font-size;
    font-weight: 700;
    margin-bottom: 3rem;
    margin-top: 5rem;*/
    font-family: $body-font-family;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-align: left;
}

/*h4 {
    font-size: 2rem;//$body-font-size;
    margin-bottom: 2rem;
    font-family: $header-font-family;
    text-transform: uppercase;
    font-weight: 700;
    //color: #7d7d7d;
    color: $primary-blue;
}*/

.layered-text > p {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    line-height: normal;
    
}

.callout-dl {
    margin-bottom: 0;
}
    
.callout-dl > dt {
    float: left;
    width: 4rem;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    font-size: 4rem;
    color: $primary-blue;
    font-weight: bold;
}

.callout-dl > dd {
    margin-left: 4rem;
    font-size: $body-font-size;
    font-weight: 300;   
    display:inline;
}
/*
.participant-number {
    text-align: left;
    font-size: 4rem;
    color: $primary-blue;
    font-weight: bold;
    display: inline;
    //margin-right: 2rem;
}

.participant-name {
    text-align: left;
    font-size: $body-font-size;
    font-weight: 300;   
    display:inline;
}*/

.text-deliverable > h4 {
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.text-deliverable > h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.text-deliverable > p {
    margin-bottom: 2rem;
    margin-left: 3rem;
}

.proj-summary {
    margin-top: 3%;
    margin-bottom: 3%;
}

.proj-summary>.row {
    margin-bottom: 0.5rem;
}

.affix {
    top: 0px;
}

#about, #projects {
    margin-bottom: 8rem;
}

#about, #projects, #contact {
    min-height: 100vh;
}

#bottom-nav-content {
    width: 100%;
    
    //align-items: center;
    
    position: absolute;
    left:0;
    bottom: 0;
    
    padding: 1rem;
    
    text-align: center;
}

#resume-download {
    font-family: sofia-pro-condensed, sans-serif !important;
    font-style: normal;
    font-weight: 300;
    font-size: 2.5rem;//40px !important;
    color: $white;
    
    border: 3px !important;
    border-style: solid !important;
    border-color: $white !important;
    //background-color: $white;
    background-color: transparent !important;
    
    padding: 10px;
    
    -moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
    
}

/*#resume-download:hover {
    background-color: $primary-blue !important;
    border-color: $text-gray !important;
    color: $white !important;
}*/

#resume-download:hover {
    background-color: $white !important;
    //border-color: $primary-blue !important;
    color: $background-gray !important;
}

.fine-print {
    font-family: $body-font-family;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    margin-top:1rem;
}

.navbar-toggle {
    float: left;
    
}

#navbar-main-contents {
    //background-color: $background-gray;
    //padding: 0;
}

.icon-bar {
    background-color: $white;   
}

.project-link {
    color: $text-gray;
}

.key-location {
    //margin: 0 auto;
    //display: inline-block;
    //margin-right: 8rem;
    margin-bottom: 2.5rem;
    //border: 10px solid black;
    //box-shadow: 6px 6px 6px;
    text-align: left;
}

.portfolio-card {
    //margin: 0 auto;
    //display: inline-block;
    //margin-right: 8rem;
    margin-bottom: 2.5rem;
    //border: 10px solid black;
    //box-shadow: 6px 6px 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 40rem;
    max-width: 100%;
    
    cursor: pointer;
    
    -webkit-transition: all .35s ease; /* Safari and Chrome */
    -moz-transition: all .35s ease; /* Firefox */
    -ms-transition: all .35s ease; /* IE 9 */
    -o-transition: all .35s ease; /* Opera */
    transition: all .35s ease;
}

.portfolio-card:hover {
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
     transform:scale(1.05);
    
}

.portfolio-card-image {
    height: 25rem;
    background:#0f0f0f;
    display: flex;
    overflow: hidden;
}

.portfolio-card-image>img {
    object-fit: scale-down;
    width: 100%;
    height: auto;
    
}

.portfolio-card-text-area {
    height: 12rem;//10rem;
    background: #787878;
    padding: 10px;
}

.portfolio-card-text-area > a {
    font-size: 2rem;
    color: $white;
}

.portfolio-card-text-area > a:hover {
    text-decoration: none;
}

.portfolio-card-text-area > p {
    font-size: $small-font-size;
    color: $white;
    line-height: normal;
    margin-top: 0.5rem;
}

.portfolio-hero {
    height: 20rem;
    text-align: center;
   // margin-bottom: 8.5rem;
}

#portfolio-overview-text {
    margin-top: 8.5rem;
}

.portfolio-hero > span {
    position: relative;
    top: 10rem;
    font-size: 5rem;
    color: $white;
    
}

#solution-info {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

#solution-info > button {
    margin-top: 8rem;
}

.portfolio-section {
    margin-bottom: 12rem;
}

.portfolio-sub-section {
    margin-bottom: 8rem;
}

.centered-text, #overview-details > div > h3,  #overview-details > div > p{
    text-align:center;
}

#overview-details > div > p {
    margin-bottom: 0rem;
}

.main-area-btn {
    font-family: sofia-pro, sans-serif !important;
    font-style: normal;
    font-weight: 300;
    font-size: 2.5rem;
    color: $primary-blue;
    
    border: 3px !important;
    border-style: solid !important;
    border-color: $primary-blue !important;
    background-color: transparent;
    
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
    -moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
    
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.main-area-btn:hover {
    color: $white;
    
    border: 3px !important;
    border-style: solid !important;
    border-color: $white !important;
    background-color: $primary-blue;
}

#resume-download-body {
    font-family: sofia-pro, sans-serif !important;
    font-style: normal;
    font-weight: 300;
    font-size: 2.25rem;
    color: $primary-blue;
    
    border: 3px !important;
    border-style: solid !important;
    border-color: $primary-blue !important;
    background-color: transparent;
    
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
    -moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
    
    display: flex;
    margin-left: 0;
    margin-top: 4rem;
}

#resume-download-body > .glyphicon {
    margin-top: .5rem;
}

.portfolio-overview-img {
    max-height: 60rem;
    max-width: 100%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    //margin-top: 5rem;
    margin-bottom: 2rem;
}

//sm and xs - images should all be full width
@media screen and (max-width: 767px){
    .portfolio-img-redux {
        width: 100%;
        height: auto;
    }
    
    .portfolio-img-redux-single {
        width: 100%;
        height: auto;
    }
    
    .portfolio-img-group > div {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    
    .portfolio-img-group > div > div {
        margin-bottom: 1rem;
    }
}

//md and lg - images should be restricted by height
@media screen and (min-width: 768px){
    .portfolio-img-redux {
        height: 100%;
        width: auto;
    }
    
    .portfolio-img-redux-single {
        height: 40rem;
        display: flex;
        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .portfolio-img-group > div {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .portfolio-img-group > div > div {
        height: 45rem;
    }
}

.text-artifact {
    margin-top: 2rem;
}

.portfolio-img-group {
    margin-top: 6rem;   
}

.portfolio-img-group > .row {
    //height: 45rem;
}

.portfolio-img-group > div > div {
    overflow:hidden;
    //margin-top: 2rem;
    //margin-bottom: 2rem;
}


.portfolio-img-redux {
    display:flex;
    margin: 0 auto;
}

.portfolio-img-single, .portfolio-img-multiple {
    height: 40rem;
    position: relative;
    margin: 0 auto;
    margin-bottom: 2rem;
    background-repeat: no-repeat;
    background-position: center;
}

.portfolio-img-single {
    background-size: contain;
}

.portfolio-img-multiple {
    background-size: cover;
}


//this is obsolete with new design
//TODO: get rid of this
.portfolio-nav-hero {
    display: flex;
    height: 300px;
    overflow: hidden;
}

.portfolio-nav-hero >  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#portfolio-nav {
    border-radius: 0px;
    height: 300px;
    
    border: 0px;
    box-shadow: 0 1px 6px 0 #eee;
    
    //animation transitions
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

//#portfolio-nav > button is legacy. when I switch over to the new style, this should not be necessary
#portfolio-nav > button,  #back-button{
    font-family: sofia-pro-condensed, sans-serif !important;
    font-style: normal;
    font-weight: 300;
    font-size: $body-font-size;
    color: $white;
    
    border: 3px !important;
    border-style: solid !important;
    border-color: $white !important;
    background-color: transparent;
    
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
    -moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
    
    position: absolute;
    margin: 10px;
    
}

#back-button{
    font-family: sofia-pro, sans-serif !important;
    font-style: normal;
    font-weight: 300;
    font-size: 2.5rem;
    color: $white;
    
    border: 3px !important;
    border-style: solid !important;
    border-color: $white !important;
    background-color: transparent;
    
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    
    -moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
    
    position: relative;
    display: inline;
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    
}

#portfolio-nav > button:hover, #back-button:hover{
    background-color: $white !important;
    color: $text-gray;
}

#portfolio-nav.affix {
    height: 8rem;
}

#portfolio-nav.affix > .portfolio-nav-hero {
    height: 8rem;
    overflow: hidden;   
}

.video {
    width: 64rem;
    height: 36rem;
}

.contact-info {
    margin-bottom: .25rem;
}

.contact-info>img {
    height: .75em;
}

.contact-info>span, .contact-info>a {
    margin-left: 0.5em;
    position:absolute;
    color: $text-gray;
    font-weight: 400 !important;
}

.contact-info:hover>a {
    cursor: pointer;
    color: $primary-blue;
    text-decoration: underline;
}

.proj-title {
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 4rem;
    margin-top: 3rem;
    font-size: 5.5rem;
}

.image-caption {
    font-family: $body-font-family;
    font-size: 1.3rem;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.75rem;
    
}

.callout {
    border-left: 5px solid $primary-blue;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
}

.callout > p {
    font-family: $header-font-family;
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin-bottom: 0px;
}

.callout > p > b {
    color: $primary-blue;
}

.callout > span {
    font-family: $body-font-family;
}

.callout > h4 {
    text-align: left;
    margin-bottom: 1rem;
}