---
---

/*
*******
None of these variable are being imported anywhere, they're just here for your convenience.
*******
*/

// Breakpoints. Use these in your media queries.
$babybear: 321px;
$mamabear: 769px;
$papabear: 1140px;
$monsterbear: 1300px;

// Some Style Variables
$primary-blue: #19A3C4;
$secondary-blue: #8FDFEF;//#87EDFF;
$white: #FFFFFF;
$background-gray: #404040;
$text-gray: #1F1F1F;

$max-width: 960px;

$header-font-family: sofia-pro, sans-serif;
$header-font-style: normal;
$header-font-weight: 700;
$header-font-size: 10vmin;

$secondary-header-font-size: 4rem;
$tertiary-header-font-size: 26px;
$body-font-size: 1.75rem;//sofia 2rem;
$small-font-size: 14px;

$body-font-family: merriweather;

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: $header-font-family;
    font-style: $header-font-style;
    font-weight: $header-font-weight;
}

.nav>li>a {
    color: $white;
}

.nav>li>a:hover, .nav>li>a:focus {
    color: $secondary-blue;
    background: $background-gray !important;
    text-decoration: none;
}

.bottom-nav>ul>li>a {
    padding-left: 0px;
    padding-right: 0px;
}



.full-page {
    height: 100vh;
    width: 100vw;
    background-color: $white;
}

#cover-page {
    background-color: $background-gray;
    color: $white;
    bottom: 100px;
}

#bottom-scroll {
    width: 100vw;
    position: absolute;
    margin: auto;
    bottom: 0;
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
    padding: 1.5vh;
    min-height: 8rem;
    cursor: pointer;
}

.scroll-down-text {
    //padding-top: 1rem;
    font-size: 2rem;
}


.down-arrow {
    border: solid $white;
    border-width: 0 0.25rem 0.25rem 0;
    display: inline-block;
    padding: 1.5rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.title-group {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    width: 100vw;
    height: 40vh;//25rem;
    text-align: center;
}

.rect-xl {
    min-height: 3rem;
    max-height: 40rem;
    width: 80vw;
    //height: 30vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
    
    background: $background-gray;
    
    border: 1rem solid;
    border-color: $primary-blue;
    
    //position: absolute;
    //margin: auto;
    //top: 0;
    //bottom: 0;
    //right: 0;
    //left: 0;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    margin: 0 auto;
}


.rect-xl h1 {
    //font-size: $header-font-size;
    font-weight: 700;
    position: relative;
    margin: 0 auto;
}

.sub-title-text {
    margin-top: 1rem;
    font-weight: 300;
}

.bottom-nav {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 1vh;
    
    font-size: 4vh;
}

.bottom-nav ul {
    padding: 0;
    text-align: center;
}

.bottom-nav li {
    display: inline-block;
}

.circle-xs {
    width: 0.5em;
    height: 0.5em;
    max-width: 10vmin;
    max-height: 10vmin;
    background: $primary-blue;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	border-radius: 0.25em;
    
    margin-left: 1vw;
    margin-right: 1vw;
    
}

#main-nav {
    z-index: 2;
}

@media screen and (max-width:767px), screen and (max-height:767px) {
    .rect-xl h1 {
        font-size: 5rem;
    }
    
    .sub-title-text {
        font-size: 2.25rem;
    }
}

//collapsed navbar
@media screen and (max-width: 767px){
    #main-nav {
        background: $primary-blue;

        font-size: $secondary-header-font-size;
        color: $white;

        padding: 0;
        margin: 0;
        margin-bottom: 10px;


    }
    
    #bottom-scroll {
        height: 13vh;
    }
    
    
    #particles-js {
        height: 100vh;
    }
    
}

//expanded navbar
@media screen and (min-width: 768px){
    #main-nav {
        background: $background-gray;
        height: 100vh;

        font-size: $secondary-header-font-size;
        color: $white;

        padding: 0;
        margin: 0;


    }
    
    #bottom-scroll {
        height: 10vh;
        min-height: 10rem;
        background: $primary-blue;
    }
    
    #particles-js {
        height: 90vh;
    }
    
    .rect-xl {
        max-width: 80vmin;
    }
    
    .rect-xl h1 {
        font-size: 7rem;
    }
    
    .sub-title-text {
        font-size: 3.25rem;
    }
}

#main-nav ul {
    padding: 0;
    list-style: none;
}

#navbar-main-contents>ul>li {
    border-left: 20px;
    border-left-style: solid;
    border-left-color: $background-gray;
}

#navbar-main-contents>ul>li.active { //:not(:first-child)
    border-left-style: solid;
    border-left-color: $secondary-blue;
}

#main-content {
    position: relative;
}

#about {
    margin-top: 10px;
    text-align: center;
}

#about-me-image {
    object-fit: cover;
    width: 50vmin;
    height: 50vmin;
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
    margin-top: 5vh;
    margin-bottom: 3vh;
    
}

.portfolio-img {
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2 {
    color: $primary-blue;
    font-size: $secondary-header-font-size;
    font-weight: 700;//500;
    text-align: left;
    margin-bottom: 3rem;
}

.about-section {
    font-family: $body-font-family;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-align: left;
}

p, #project-list, .proj-summary-content, ol, .contact-info {
    font-family: $body-font-family, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: $body-font-size;
    text-align: left;
    //letter-spacing: 0.025em;
    line-height: 2.75rem;
}

.proj-summary-section{
    font-size: $body-font-size;
    font-family: $body-font-family;
}

#portfolio-content > h2 {
    margin-top: 6rem;
    margin-bottom: 3rem;
}

h3 {
    /*font-size: $tertiary-header-font-size;
    font-weight: 700;
    margin-bottom: 3rem;
    margin-top: 5rem;*/
    font-family: $body-font-family;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-align: left;
}

h4 {
    font-size: 2rem;//$body-font-size;
    font-family: $header-font-family;
    text-transform: uppercase;
    font-weight: 700;
    color: #7d7d7d;
}

.proj-summary {
    margin-top: 3%;
    margin-bottom: 3%;
}

.proj-summary>.row {
    margin-bottom: 0.5rem;
}

.affix {
    top: 0px;
}

#about, #projects {
    margin-bottom: 8rem;
}

#about, #projects, #contact {
    min-height: 100vh;
}

#bottom-nav-content {
    width: 100%;
    
    //align-items: center;
    
    position: absolute;
    bottom: 0;
    
    padding: 10px;
    
    text-align: center;
}

#resume-download {
    font-family: sofia-pro-condensed, sans-serif !important;
    font-style: normal;
    font-weight: 300;
    font-size: 2.5rem;//40px !important;
    color: $white;
    
    border: 3px !important;
    border-style: solid !important;
    border-color: $white !important;
    //background-color: $white;
    background-color: transparent !important;
    
    padding: 10px;
    
    -moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
    
}

/*#resume-download:hover {
    background-color: $primary-blue !important;
    border-color: $text-gray !important;
    color: $white !important;
}*/

#resume-download:hover {
    background-color: $white !important;
    //border-color: $primary-blue !important;
    color: $background-gray !important;
}

.fine-print {
    font-family: sofia-pro-condensed, sans-serif !important;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    margin-top:1rem;
}

.navbar-toggle {
    float: left;
    
}

#navbar-main-contents {
    background-color: $background-gray;
    padding: 0;
}

.icon-bar {
    background-color: $white;   
}

.project-link {
    color: $text-gray;
}

.portfolio-card {
    margin: 0 auto;
    margin-bottom: 4rem;
    //border: 10px solid black;
    //box-shadow: 6px 6px 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 40rem;
    max-width: 100%;
    
    cursor: pointer;
    
    -webkit-transition: all .35s ease; /* Safari and Chrome */
    -moz-transition: all .35s ease; /* Firefox */
    -ms-transition: all .35s ease; /* IE 9 */
    -o-transition: all .35s ease; /* Opera */
    transition: all .35s ease;
}

.portfolio-card:hover {
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
     transform:scale(1.05);
    
}

.portfolio-card-image {
    height: 25rem;
    background:#0f0f0f;
    display: flex;
    overflow: hidden;
}

.portfolio-card-image>img {
    object-fit: scale-down;
    width: 100%;
    height: auto;
    
}

.portfolio-card-text-area {
    height: 12rem;//10rem;
    background: #787878;
    padding: 10px;
}

.portfolio-card-text-area > a {
    font-size: 2rem;
    color: $white;
}

.portfolio-card-text-area > a:hover {
    text-decoration: none;
}

.portfolio-card-text-area > p {
    font-size: $small-font-size;
    color: $white;
    line-height: normal;
    margin-top: 0.5rem;
}

.portfolio-nav-hero {
    display: flex;
    height: 300px;
    overflow: hidden;
}

.portfolio-nav-hero >  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#portfolio-nav {
    border-radius: 0px;
    height: 300px;
    
    border: 0px;
    box-shadow: 0 1px 6px 0 #eee;
    
    //animation transitions
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}


#portfolio-nav > button {
    font-family: sofia-pro-condensed, sans-serif !important;
    font-style: normal;
    font-weight: 300;
    font-size: $body-font-size;
    color: $background-gray;
    
    border: 3px !important;
    border-style: solid !important;
    border-color: $background-gray !important;
    background-color: transparent;
    
    padding: 10px;
    
    -moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
    
    position: absolute;
    margin: 10px;
    
}

#portfolio-nav > button:hover {
    background-color: $primary-blue !important;
    color: $white;
}

#portfolio-nav.affix {
    height: 8rem;
}

#portfolio-nav.affix > .portfolio-nav-hero {
    height: 8rem;
    overflow: hidden;   
}

.video {
    width: 64rem;
    height: 36rem;
}

.contact-info {
    margin-bottom: .75rem;
}

.contact-info:hover {
    cursor: pointer;
}

.contact-info>img {
    height: 1.25em;
    position: absolute;
}

.contact-info>span {
    margin-left: 2.5em;
}

.contact-info>span>a {
    color: $text-gray;
}

.proj-title {
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 4rem;
    margin-top: 3rem;
    font-size: 5.5rem;
}