---
layout: default
title: "Shannon Sullivan"
fulltitle: "Shannon Sullivan | UX Researcher and Interaction Designer" 
excerpt: 
---
<!-- fulltitle: This overrides the default page title, which is "{{page.tite}} | {{site.title}}" -->
<!-- excerpt: If this isn't set, it'll pull your {{site.tagline}} for meta description-->



<div class="full-page container">
    <div class="row">
        <nav class="col-xs-12 col-sm-5 col-lg-3 navbar-toggleable-xs" id="main-nav">
            <!--<div class="container-fluid">-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle navbar-left" data-toggle="collapse" data-target="#navbar-main-contents">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main-contents">
                    <div class="logo hidden-xs"></div>
                    <div id="headline" class="hidden-xs">
                        <h1>Shannon Sullivan</h1>
                        <p>UX researcher and strategist.</p>
                    </div>
                    <div id="contact-details" class="hidden-xs">
                        <div class="contact-info" onclick="window.location = 'mailto:shannon@shansul.com'">
                            <img src="img/email.svg"><a>shannon@shansul.com</a></div>
                        <div class="contact-info" onclick="window.location = 'https://www.linkedin.com/in/shansul/'">
                            <img src="img/linkedin.svg"><a>www.linkedin.com/in/shansul/</a></div>
                        <!--<div class="contact-info" onclick="window.location = 'https://medium.com/@shansul'">
                            <img src="img/medium.svg"><a>www.medium.com/@shansul</a></div>-->
                        <div class="contact-info" onclick="window.location = 'https://drive.google.com/file/d/0B9Mvk0EG_5EvSnlENXdWSkxabDQ/view'">
                            <img src="img/resume.svg"><a>View resume ></a></div>
                        <!--<button type="button" class="main-area-btn hidden-sm hidden-md hidden-lg" id="resume-download-body"><span class="glyphicon glyphicon-file" aria-hidden="true" style="padding-right: 10px;"></span>view my resume</button>-->
                    </div>
                    <!--<div id="navigation-section">
                        <h4 class="hidden-xs">Navigate to</h4>
                        <ul class="nav">
                            <li>
                                <a href="#projects">Projects</a>
                                <ul>
                                   {% for post in site.posts %}
                                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li><a href="#about">About</a></li>
                        </ul>
                    </div>-->
                    <div id="bottom-nav-content" class="hidden-xs">
                        <!--<div class="fine-print">&copy; 2017 Shannon Sullivan</div>-->
                        <div class="fine-print">Designed and developed with &hearts; by Shannon Sullivan, &copy; 2020</div>
                    </div>
                </div>
            <!--</div>-->
        </nav>
        <div class="col-sm-5 col-lg-3">
        </div>
        <div class="col-sm-7 col-lg-9" id="main-content">
            <!--<div id="projects">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
                        <h1>Projects</h1>
                        <div style="height:2rem;"></div>
                            {% for post in site.posts %}
                            <div class="">
                                <div class="section-header"><img src="{{post.hero-image-path}}"></div>
                                <h2>{{post.title}}</h2>
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">{{post.final-solution-media}}</div>
                                    <div class="col-md-8 col-md-offset-2"><p>{{post.summary}} <br/> <a href="{{post.url}}">Read more ></a></p></div>
                                </div>
                            </div>
                            {% endfor %}
                    </div>  
                    
                </div>
            </div>-->
            <div id="about">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
                        <h1>About</h1>
                        <p>I am passionate about achieving understanding of new concepts and domains through rich, contextual research.  I apply this understanding to create a wide range of ideas to address opportunities and user needs.</p>
                        <p>Outside of work, you can find me discovering new music on Spotify, critiquing everyday typography, and playing podcasts and YouTube videos at half speed, purely for laughs.</p>
                        <div class="section-header"><img src="img/journey.png"></div>
                        <h2>Where I've Been</h2>
                        <!---<div class="row">-->
                        <!--<dl class="dl-horizontal callout-dl">
                            <dt>5</dt>
                            <dd>local law enforcement agents</dd>
                            <dt>4</dt>
                            <dd>emergency planning officials</dd>
                            <dt>1</dt>
                            <dd>criminal data analyst</dd>
                        </dl>-->
                            <div class= "timeline col-sm-12 col-md-8 col-md-offset-2">
                                <dl class="dl-horizontal">
                                    <dt class="key-location" id="lafayette-college">
                                        <div class="circle"></div>
                                    </dt>
                                    <dd class="sub-circle-text">
                                        <h5>Lafayette College</h5>
                                        <span>2009 - 2013</span>
                                        <p>B.S. in Computer Science, Minor in Psychology <br> Class of 2013</p>
                                    </dd>
                                    
                                    <dt class="key-location" id="lutron-electronics">
                                        <div class="circle"></div>
                                    </dt>
                                    <dd class="sub-circle-text">
                                        <h5>Lutron Electronics</h5>
                                        <span>2013 - 2016</span>
                                        <p>UX Designer & Researcher <br> Commercial & Hospitality Systems</p>
                                    </dd>
                                    
                                    <dt class="key-location" id="carnegie-mellon">
                                        <div class="circle"></div>
                                    </dt>
                                    <dd class="sub-circle-text">
                                        <h5>Carnegie Mellon University</h5>
                                        <span>2016 - 2017</span>
                                        <p>Master of Human-Computer Interaction <br> Class of 2017</p>
                                    </dd>
                                    
                                    <dt class="key-location" id="jpmorgan-chase">
                                        <div class="circle"></div>
                                    </dt>
                                    <dd class="sub-circle-text">
                                        <h5>JPMorgan Chase</h5>
                                        <span>2017 - 2019</span>
                                        <p>UX Researcher <br> Digital Wealth Management</p>
                                    </dd>
                                    
                                    <dt class="key-location" id="compass">
                                        <div class="circle"></div>
                                    </dt>
                                    <dd class="sub-circle-text">
                                        <h5>Compass</h5>
                                        <span>2019 - present</span>
                                        <p>UX Researcher <br> Search & Listings</p>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                        <img id="about-me-image" src="img/my-picture.jpg">
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>