<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}
	
	<body>
        <a href="index.html#projects">Go back to main page</a>
		<!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                    <h1>{{page.title}}</h1>
                    <div class="proj-summary">
                        {%if page.client != nil %}
                            <div class="row">
                                <div class="col-xs-5 col-sm-3 col-md-2 proj-summary-section">Client</div>
                                <div class="col-xs-6 col-sm-9 col-md-10 proj-summary-content">{{page.client}}</div>
                            </div>
                        {% endif %}
                        {%if page.team != nil %}
                            <div class="row">
                                <div class="col-xs-5 col-sm-3 col-md-2 proj-summary-section">Team Size</div>
                                <div class="col-xs-6 col-sm-9 col-md-10 proj-summary-content">{{page.team}}</div>
                            </div>
                        {% endif %}
                        {%if page.duration != nil %}
                            <div class="row">
                                <div class="col-xs-5 col-sm-3 col-md-2 proj-summary-section">Duration</div>
                                <div class="col-xs-6 col-sm-9 col-md-10 proj-summary-content">{{page.duration}}</div>
                            </div>
                        {% endif %}
                        {%if page.role != nil %}
                            <div class="row">
                                <div class="col-xs-5 col-sm-3 col-md-2 proj-summary-section">Role</div>
                                <div class="col-xs-6 col-sm-9 col-md-10 proj-summary-content">{{page.role}}</div>
                            </div>
                        {% endif %}
                        </div>
                    {{ content }}
                </div>
            </div>
        </div>
        
        <div style="height:50px;"></div>
		
	</body>
</html>

{% include footer.html %}
