<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}
	<body>
		<!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
        <!--<nav id="portfolio-nav" class="navbar navbar-default navbar-fixed-top" style="background:{{page.hero-image-background}}">
        </nav>-->
        <div class="full-page container">
            <div class="row">
                <nav class="col-xs-12 col-sm-5 col-lg-3 navbar-toggleable-xs" id="main-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle navbar-left" data-toggle="collapse" data-target="#navbar-main-contents">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main-contents">
                    <div class="logo hidden-xs"></div>
                    <!--<div><a id="back" href="../">< Back</a></div>-->
                    <div id="navigation-section">
                        <h4 class="hidden-xs">{{page.title}}</h4>
                        <ul class="nav">  
                           <li><a href="#overview">Overview</a></li>
                            {% for section in page.sections %}
                                <li><a href="#{{section.id}}">{{section.text}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="bottom-nav-content" class="hidden-xs">
                        <!--<div class="fine-print">&copy; 2017 Shannon Sullivan</div>-->
                        <div class="fine-print">Designed and developed with &hearts; by Shannon Sullivan, &copy; 2018</div>
                    </div>
                </div>
            <!--</div>-->
        </nav>
        <div class="col-sm-5 col-lg-3">
        </div>
        <div class="col-sm-7 col-lg-9" id="main-content" style="padding:unset;">
            <div id="overview" class="portfolio-section">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
                        <div class="section-header portfolio-header"><img src="{{page.hero-image-path}}"></div>
                        <h2>{{page.title}}</h2>
                        <p class="centered-text" id="portfolio-overview-text">{{page.overview}}</p>
                        <div id="solution-info">
                            {%if page.final-solution-media != nil %}
                                {{page.final-solution-media}}
                            {% endif %}
                            {%if page.final-solution-link != nil %}
                                <button class="btn btn-default main-area-btn" onclick="location.href=&quot;{{page.final-solution-link}}&quot;">view solution<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="padding-left: 10px; margin-top: 0.4rem;"></span></button>
                            {% endif %}
                        </div>
                        <!--<div class="portfolio-img-single" style="background-image:url(../img/Vivid/solution-screens.png)"></div>-->
                        <!-- TODO: insert overview image -->
                        <div class="row" id="overview-details">
                            {% if page.client != nil %}
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <h3>CLIENT</h3>
                                <p>{{page.client}}</p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <h3>SCOPE</h3>
                                {% for point in page.scope %}
                                <p>{{point.text}}</p>
                                {% endfor %}
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <h3>MY ROLES</h3>
                                {% for role in page.roles %}
                                <p>{{role.text}}</p>
                                {% endfor %}
                            </div>

                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <h3>SKILLS</h3>
                                {% for skill in page.skills %}
                                <p>{{skill.text}}</p>
                                {% endfor %}
                            </div>
                            {% else %}
                            <div class="col-xs-12 col-sm-4">
                                <h3>SCOPE</h3>
                                {% for point in page.scope %}
                                <p>{{point.text}}</p>
                                {% endfor %}
                            </div>

                            <div class="col-xs-12 col-sm-4">
                                <h3>MY ROLES</h3>
                                {% for role in page.roles %}
                                <p>{{role.text}}</p>
                                {% endfor %}
                            </div>

                            <div class="col-xs-12 col-sm-4">
                                <h3>SKILLS</h3>
                                {% for skill in page.skills %}
                                <p>{{skill.text}}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
                    {{content}}
                    <div style="height: 10rem;"></div>
                </div>
            </div>
        </div>
    </div>

</div>
		
	</body>
</html>

{% include footer.html %}
